{#{% extends layout_template if layout_template is defined else 'index.html' %}#}

<!DOCTYPE html>

<!--
Cette page HTML contient le template web d'affichage de l'API.
La page web récupère les paramètres choisis par le client ou les paramètres par défaut de l'API,
puis elle envoie une requête URL du type POST à l'API via le bouton Run.
Ensuite, après le click sur le bouton Run, l'API effectue le calcul du résultat et
l'affiche dans la partie du formulaire dédiée (dans la même page).

Pour la conception de cette page, j'ai utilisé le moteur de Template Jinja, ce dernier facilite la définition de
la structure d'un document (HTML,XML, CSV .etc)
-->

<html>
<head>
	<meta charset="UTF-8" />
    <title>My API</title>
</head>

<body>

<form action="" method="post">
  {% csrf_token %}
  <fieldset style="width:50%">
    <legend><b>Paramètres</b></legend>
    <table style="width:70%">
    <tr>
        <td><label for="multiple">Le nombre à énumére</label></td>
        <td><input type="input" id="Multiple" name="Multiple" value="{{ multiple }}"></td>
    </tr>

    <tr>
        <td><label for="seuil_max">La limite de nombres à parcourir</label></td>
        <td><input type="input" id="seuil_max" name="seuil_max" value="{{ seuil_max }}"></td>
    </tr>

    <tr>
        <td><label for="frequence">Le nombre à utiliser pour la comparaison</label></td>
        <td><input type="input" id="frequence" name="frequence" value="{{ frequence }}"></td>
    </tr>

    <tr>
        <td><label for="multiple">Le mot à afficher</label></td>
        <td><input type="input" id="mot_a_afficher" name="mot_a_afficher" value="{{ mot_a_afficher }}"></td>
    </tr>

    <tr>
        <td><input type="submit" value="Run"></td>
    </tr>
    </table>
  </fieldset>

  <fieldset style="width:50%">
    <legend><b>Résultat</b></legend>

    {% if est_afficher %}

        {{ mot_a_afficher }}

    {% else %}

      {% if list_div|length > 0 %}
        Le nombre de multiples de {{multiple}} dans {{seuil_max}} est : {{list_div|length}}
      {% endif %}

    {% endif %}

  </fieldset>
</form>

</body>
</html>
